/* 
    TIPOGRAFIA (Variáveis)
*/

:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    /* tamanhos de fonte */
    --size-banner: 28px;
    --size-title: 24px;
    --size-subtitle: 20px;
    --size-body: 18px;
    --size-detail: 16px;

    /* tamanhos de fonte mobile */
    --size-mobile-s: 12px;
    --size-mobile-m: 14px;
    --size-mobile-l: 16px;

}

/*
 CONFIGURAÇÕES GERAIS E FONTES 
 */

body {
    margin: 0;
    font-family: var(--font-secondary);
    background-color: #f7f7f9;
}

a {
    text-decoration: none;
    color: #0F637A;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ESTILOS DO HEADER (MOBILE) */

.header {
    font-family: var(--font-main);
    font-weight: 700;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    position: relative;
    min-height: 60px;

}

/* LOGO MOBILE */

.brand-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-logo {
    display: none;
}

.logo img {
    height: 40px;
}

.brand-container .brand-title {
    font-size: var(--size-mobile-s);
    letter-spacing: 0.5px;
}


/* BOTÃO DO MENU MOBILE */
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 101;
}

.menu-toggle .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #0F637A;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* MENU DE NAVEGAÇÃO (MOBILE)*/
.nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;   
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-menu li a {
    display: block;
    padding: 1.2rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.2s;
    font-size: var(--size-mobile-l);
}

.nav-menu li a:hover {
    background-color: #f7f7f9;
}

/* ESTILOS DO HEADER (DESKTOP) */

@media (min-width: 768px){
    .navbar {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .menu-toggle {
        display: none;
    }


    .brand-container {
        position: static;
        transform: none;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .logo {

    }

    .text-logo {
        display: block;
        position: relative;
        margin-bottom: -8px;
        font-size: var(--size-mobile-s)
    
    }

    .logo img {
        height: 55px;
    }

    .brand-container .brand-title {
        font-size: var(--size-title);
    }

    .nav-menu {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        width: auto;
    }

    .nav-menu ul {
        flex-direction: row;
        gap: 2rem;
    }

    .nav-menu li a {
        padding: 0.5rem;
        text-transform: none;
        font-size: var(--size-detail);
    }

    .nav-menu li a:hover{
        background-color: transparent;
        color: #0c4d60;
    }

}